# === APP ===
APP_HOST=0.0.0.0
APP_PORT=8000

# === POSTGRES ===
DB_USER=user
DB_PASSWORD=password
DB_NAME=telemetry
DB_HOST=postgres
DB_PORT=5432

# === REDIS ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://redis:6379/0

# === VALIDATION ===
TELEMETRY_MAX_AGE_SECONDS=300